<launch>
  <!-- https://github.com/ros-planning/navigation/issues/206 -->
<!--  <rosparam command="delete" ns="move_base" /> -->

<!--
  <include file="$(find arlobot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />

    <arg name="scan_topic" value="/scan" />
  </include>
-->

  <!-- Map server -->
  <arg name="map_file" default="$(find diff_wheeled_robot_gazebo)/maps/test.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <arg name="initial_pose_x" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_y" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_a" default="0.0"/>

  <include file="$(find diff_wheeled_robot_gazebo)/launch/includes/amcl.launch.xml">

    <arg name="initial_pose_x" value="0"/>
    <arg name="initial_pose_y" value="0"/>
    <arg name="initial_pose_a" value="0"/>

<!--
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
-->
  </include>

  <include file="$(find diff_wheeled_robot_gazebo)/launch/includes/move_base.launch.xml"/>

</launch>

