<launch>

  <arg name="robot" default="reem" />

  <!-- Start the test -->
  <node name="moveit_simple_grasps_server" pkg="moveit_simple_grasps" type="moveit_simple_grasps_server" output="screen">
    <rosparam command="load" file="$(find moveit_simple_grasps)/config/$(arg robot)_grasp_data.yaml"/>
  </node>

</launch>
