<!-- -*- mode: XML -*- -->

<launch>
    <node name="joint_state_aggregator" pkg="cool5000_controller" type="joint_state_aggregator" output="screen">
    <rosparam>
            rate: 50
            controllers:
                    - joint1_controller
                    - joint2_controller
                    - joint3_controller
                    - joint4_controller
                    - joint5_controller
                    - joint6_controller
                    - joint7_controller
        </rosparam>
    </node>
</launch>
