<launch>
  <!-- https://github.com/ros-planning/navigation/issues/206 -->
  <include file="$(find chefbot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />

    <arg name="scan_topic" value="/scan" />
  </include>

  <include file="$(find chefbot_bringup)/launch/includes/gmapping.launch.xml"/>
  <include file="$(find chefbot_bringup)/launch/includes/move_base.launch.xml"/>

</launch>
