<launch>

<!-- Started nodelet manager -->

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

<!-- Starting first nodelet -->

  <node pkg="nodelet" type="nodelet" name="test1" args="load nodelet_hello_world/Hello standalone_nodelet" output="screen">
  </node>		

<!-- Starting second nodelet -->

  <node pkg="nodelet" type="nodelet" name="test2" args="load nodelet_hello_world/Hello standalone_nodelet" output="screen">
  </node>		

</launch>

